.mat-toolbar.mat-primary {
  color: #4091f1;
  }

// Couleur du menu latéral gauche
.sidenav, .left-menu {
  color: #4091f1;
  }

// Couleur de l'item actif
mat-toolbar, .active-link {
  color: #3e92f1;
  }

.mat-list-item:hover, a:hover {
}

.title {
  margin-left: auto!important;
  margin-right: auto!important;
  align-content: center!important;
}

.btn-way-b-tool{
  margin-left: -1em;
}
