<h1 mat-dialog-title>Catégorie<span class="mdi mdi-format-list-bulleted-type"></span></h1>
<form [formGroup]="service.form"
      *ngIf="service.form"
      (ngSubmit)="onSubmitClick()">
  <mat-dialog-content>
    <fieldset [disabled]="service.loadingSource"
              [ngStyle]="{'pointer-events':service.loadingSource ? 'none' : 'auto' }">

      <div *ngIf="service.form.controls.parent.value?.name">Sous-catégorie de
        <b>{{service.form.controls.parent.value.name}}</b></div>
      <mat-form-field class="full-width">
        <mat-label>Nom <span class="mdi mdi-format-list-bulleted-type"></span></mat-label>
        <input matInput
               required
               formControlName="name"
               placeholder="Ex: Vétement"
               value="">
        <mat-error>
          {{service.form.get('name').errors?.serverError}}
        </mat-error>
      </mat-form-field>

    </fieldset>

  </mat-dialog-content>
  <div mat-dialog-actions
       class="flex-reverse">
    <button mat-button
            [disabled]="!service.form || service.form.invalid || service.loadingSource"
            type="submit"
            (click)="onSubmitClick()">
      <ng-container *ngIf="!value">Ajouter</ng-container>
      <ng-container *ngIf="value">Modifier</ng-container>
    </button>
    <button mat-button
            type="button"
            (click)="onCancelClick()">Annuler</button>
  </div>
</form>
