<div class="tab">
  <div class="auto">
    <div class="inline-header">
      <button mat-button
              (click)="openCreateDialog()"
              [matTooltip]="'Ajouter une nouvelle catégorie'">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <app-table [service]="service"
               [allowSelected]="true"
               [subTable]="SubTable"
               [expandedDetailName]="'subCategories'"
               [createComponent]="'CategoryCreate'"
               #Table></app-table>
    <app-pagination [paginate]="service.paginate"></app-pagination>
  </div>
</div>

<ng-template #SubTable
             let-source="source">
  <app-sub-table [service]="service"
                 [subTable]="SubTable"
                 [source]="source"
                 [expandedDetailName]="'subCategories'"
                 [componentOrTemplateRef]="'CategoryCreate'"
                 [allowSelected]="true"></app-sub-table>
</ng-template>
